<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.cr.services.persistence.dao.IssueNoteMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.cr.services.persistence.model.IssueNote">
		<id column="id" property="id" />
		<result column="issue_id" property="issueId" />
		<result column="handler_id" property="handlerId" />
		<result column="handler_name" property="handlerName" />
		<result column="from_status" property="fromStatus" />
		<result column="to_status" property="toStatus" />
		<result column="note" property="note" />
		<result column="image_url" property="imageUrl" />
		<result column="attachment" property="attachment" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, issue_id AS issueId, handler_id AS handlerId, handler_name AS handlerName, from_status AS fromStatus, to_status AS toStatus, note, image_url AS imageUrl, attachment, create_time AS createTime
    </sql>

</mapper>
