<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.cr.services.persistence.dao.ProjectMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.cr.services.persistence.model.Project">
		<id column="id" property="id" />
		<result column="org_id" property="orgId" />
		<result column="project_name" property="projectName" />
		<result column="note" property="note" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id AS orgId, project_name AS projectName, note, create_time AS createTime
    </sql>

</mapper>
